In [ ]:
# display(work_compare.sort_values('work delta'),'all')
# work_compare_dict[0]

In [9]:
from setup import *
students = pd.read_csv('students.csv')
# students = students.set_index('NAME')

work_plan = pd.read_csv('work_tracker.csv')
work_plan['Device ID'] = work_plan['Device ID'].fillna(0).astype(int)
work_plan.drop('work3',axis=1,inplace=True)
work_plan.drop('work4',axis=1,inplace=True)
IDs = work_plan['Device ID']

posters = pd.read_csv('posters.csv')
orals = pd.read_csv('orals.csv')
df = pd.concat([posters,orals])
judge_idx = df['Device ID'].isin(IDs)
earl_rudder_idx = df['Session/Item ID'] == 8909932
valid_idx = judge_idx & ~earl_rudder_idx
scores = df[valid_idx]

unique_idx = ((scores['Question ID'] == 157036) | (scores['Question ID'] == 164187))
unique = scores.loc[unique_idx,:]

work_done = unique.groupby('Device ID')['Session/Item Name'].count().to_frame()
work_done.columns = ['work done']
work_compare_df = pd.merge(work_plan,work_done,left_on='Device ID',right_index=True)
work_compare_df['work delta'] = work_compare_df['work done'] - work_compare_df['work expected']

work_compare_dict = work_compare_df.to_dict(orient='index')
for (key,val) in work_compare_dict.items():
    id = val['Device ID']
    records = unique[unique['Device ID'] == id]['Session/Item Name'].tolist()
    val['records'] = records
work_compare_dict[0]

comments_idx = ((scores['Question ID'] == 150165) | (scores['Question ID'] == 150298))
password_idx = ((scores['Question ID'] == 144457) | (scores['Question ID'] == 144456))
numeric_idx = ~(comments_idx | password_idx)
numeric = scores.loc[numeric_idx].copy()

numeric["Response"] = numeric["Response"].str.partition(':')[0]
good_idx = numeric['Response'].str.isnumeric()
print("%u valid scores and %u invalid scores (listed below)"%(good_idx.sum(),(~good_idx).sum()))
display(numeric[~good_idx],'all')
numeric = numeric.loc[good_idx]
numeric['Response'] = numeric['Response'].astype(float)

R = numeric.groupby('Device ID')['Response']
print("Summary stats for judges before normalization")
display(R.describe())

norm_scores = numeric.copy()
norm_scores['Response'] = R.transform(lambda x: (x-x.mean())/x.std())
print("Summary stats for judges before after normalization.  Note every mean=0 and std=1, as desired.")
display(norm_scores.groupby('Device ID')['Response'].describe())#.unstack())
# print("Rankings of participants using standardized scores")
ranks = norm_scores.groupby('Session/Item Name')['Response'].describe().sort_values(by='mean',ascending=False)
# display(ranks)
students = pd.merge(students,ranks,left_on='NAME',right_index=True,how='outer',indicator=True)

categories = students['CATEGORY'].unique().tolist()
levels = students['STUDENT LEVEL'].unique().tolist()
try:
    levels.remove('Doctoral student')
except:
    pass
levels
categories
for cat in categories:
    for lev in levels:
        stud_idx = ((students['CATEGORY'] == cat) & (students['STUDENT LEVEL'] == lev))
        print(cat, lev)
        display(students.loc[stud_idx,'NAME':].sort_values(by='mean',ascending=False),'all')#where='popup',name='ranks')

Engineering & Computer Science Master's student

,NAME,PRESENTATION TYPE,STUDENT LEVEL,CATEGORY,INSTITUTION,count,mean,std,min,25%,50%,75%,max,_merge
20,"Bedekar, Himani",poster,Master's student,Engineering & Computer Science,Texas A&M University - Kingsville,16.000,0.719,1.072,-1.135,0.110,0.664,1.774,2.046,both
186,"Nwabugwu, Chimezie",poster,Master's student,Engineering & Computer Science,Texas A&M University - Kingsville,16.000,0.336,0.805,-1.135,0.170,0.471,0.874,1.725,both
126,"Kothapally, Akhil Reddy",poster,Master's student,Engineering & Computer Science,Texas A&M University - Corpus Christi,8.000,0.083,1.090,-1.459,-0.651,0.473,0.789,1.442,both
22,"Bell, Duane",poster,Master's student,Engineering & Computer Science,Prairie View A&M University,12.000,0.057,1.111,-2.016,-0.616,0.357,0.831,1.235,both
79,"Ganesan Valli, Sruthi",poster,Master's student,Engineering & Computer Science,Texas A&M University - Kingsville,16.000,-0.055,0.787,-1.758,-0.398,0.151,0.341,1.093,both
13,"Balzen, Hunter",poster,Master's student,Engineering & Computer Science,Texas A&M University - Kingsville,16.000,-0.133,0.893,-1.135,-0.740,-0.398,0.371,1.683,both
200,"Potluri, Sai Pradeep",poster,Master's student,Engineering & Computer Science,Prairie View A&M University,16.000,-0.182,0.954,-1.459,-0.974,-0.123,0.274,1.683,both
3,"Aguirre, Isabella",poster,Master's student,Engineering & Computer Science,Texas A&M University - Kingsville,nan,nan,nan,nan,nan,nan,nan,nan,left_only
4,"Agwuegbo, Chiamaka",poster,Master's student,Engineering & Computer Science,Texas A&M University - Kingsville,nan,nan,nan,nan,nan,nan,nan,nan,left_only
8,"Arsekar, Shubharaj",poster,Master's student,Engineering & Computer Science,Texas A&M University - Corpus Christi,nan,nan,nan,nan,nan,nan,nan,nan,left_only
51,"Chowdhury, Shanta",poster,Master's student,Engineering & Computer Science,Prairie View A&M University,nan,nan,nan,nan,nan,nan,nan,nan,left_only
72,"Eluyemi, Femi",poster,Master's student,Engineering & Computer Science,Texas A&M University - Kingsville,nan,nan,nan,nan,nan,nan,nan,nan,left_only
111,"Howard, Arndreya",poster,Master's student,Engineering & Computer Science,Prairie View A&M University,nan,nan,nan,nan,nan,nan,nan,nan,left_only
135,"Le, Crystal",poster,Master's student,Engineering & Computer Science,Texas A&M University - Kingsville,nan,nan,nan,nan,nan,nan,nan,nan,left_only
229,"Shah, Niral",poster,Master's student,Engineering & Computer Science,Texas A&M University - Kingsville,nan,nan,nan,nan,nan,nan,nan,nan,left_only
251,"Tirumalasetty, Sunayana",poster,Master's student,Engineering & Computer Science,Texas A&M University - Kingsville,nan,nan,nan,nan,nan,nan,nan,nan,left_only

Engineering & Computer Science Undergraduate student

,NAME,PRESENTATION TYPE,STUDENT LEVEL,CATEGORY,INSTITUTION,count,mean,std,min,25%,50%,75%,max,_merge
181,"Nguyen, Vuong",poster,Undergraduate student,Engineering & Computer Science,Texas A&M University - Corpus Christi,12.000,0.668,0.341,0.249,0.249,0.758,0.899,1.093,both
76,"Flores, Laura",poster,Undergraduate student,Engineering & Computer Science,Texas A&M University - Corpus Christi,16.000,0.296,0.883,-0.941,-0.740,0.616,1.235,1.335,both
163,"Molina, Daniel",poster,Undergraduate student,Engineering & Computer Science,Texas A&M International University,12.000,0.142,0.816,-1.271,-0.235,0.462,0.832,0.832,both
84,"Garcia, Jose",poster,Undergraduate student,Engineering & Computer Science,Texas A&M University - Kingsville,12.000,0.141,0.786,-1.135,-0.092,0.552,0.653,0.848,both
190,"Osei, Michael",poster,Undergraduate student,Engineering & Computer Science,Tarleton State University,16.000,-0.061,1.349,-3.575,-0.585,0.357,0.874,1.292,both
220,"Samayoa, Susana",poster,Undergraduate student,Engineering & Computer Science,Texas A&M University - Kingsville,20.000,-0.206,0.843,-2.497,-0.740,-0.003,0.616,0.664,both
153,"McDougald, Emory",poster,Undergraduate student,Engineering & Computer Science,Tarleton State University,20.000,-0.360,1.067,-3.583,-0.585,-0.380,0.465,0.653,both
21,"Bedwell, Cody",poster,Undergraduate student,Engineering & Computer Science,Tarleton State University,16.000,-0.519,0.948,-2.401,-1.344,-0.486,-0.055,0.989,both
7,"Armah, Esther",poster,Undergraduate student,Engineering & Computer Science,Prairie View A&M University,nan,nan,nan,nan,nan,nan,nan,nan,left_only
26,"Bernier-Vega, Agustin",poster,Undergraduate student,Engineering & Computer Science,Texas A&M University - Kingsville,nan,nan,nan,nan,nan,nan,nan,nan,left_only
71,"Ellis, Yohn",poster,Undergraduate student,Engineering & Computer Science,Prairie View A&M University,nan,nan,nan,nan,nan,nan,nan,nan,left_only
81,"Garcia, Celine",poster,Undergraduate student,Engineering & Computer Science,Texas A&M University - Kingsville,nan,nan,nan,nan,nan,nan,nan,nan,left_only
98,"Guzman, Carlos",poster,Undergraduate student,Engineering & Computer Science,Texas A&M International University,nan,nan,nan,nan,nan,nan,nan,nan,left_only
138,"Lewis, Cynthia",poster,Undergraduate student,Engineering & Computer Science,Prairie View A&M University,nan,nan,nan,nan,nan,nan,nan,nan,left_only
143,"Louis, Pierry",poster,Undergraduate student,Engineering & Computer Science,Texas A&M University - Corpus Christi,nan,nan,nan,nan,nan,nan,nan,nan,left_only
208,"Reyna, Haylee",poster,Undergraduate student,Engineering & Computer Science,Texas A&M University - Kingsville,nan,nan,nan,nan,nan,nan,nan,nan,left_only
227,"Segler, Miles",poster,Undergraduate student,Engineering & Computer Science,Texas A&M University - Corpus Christi,nan,nan,nan,nan,nan,nan,nan,nan,left_only

Engineering & Computer Science nan

Empty DataFrame
Columns: [NAME, PRESENTATION TYPE, STUDENT LEVEL, CATEGORY, INSTITUTION, count, mean, std, min, 25%, 50%, 75%, max, _merge]
Index: []

[0 rows x 14 columns]

Agriculture Master's student

,NAME,PRESENTATION TYPE,STUDENT LEVEL,CATEGORY,INSTITUTION,count,mean,std,min,25%,50%,75%,max,_merge
118,"Johnson, Gayland",poster,Master's student,Agriculture,Prairie View A&M University,16.000,0.427,0.732,-1.385,0.332,0.532,0.952,1.605,both
213,"Rodriguez, Julissa",poster,Master's student,Agriculture,Texas A&M University - Kingsville,20.000,0.396,0.451,-0.337,-0.103,0.665,0.705,0.911,both
110,"Hopkins, Melissa",poster,Master's student,Agriculture,Tarleton State University,12.000,0.306,0.841,-0.665,-0.392,0.198,0.735,1.803,both
128,"Lahmon, Alyssa",poster,Master's student,Agriculture,Tarleton State University,12.000,0.184,1.088,-1.500,-1.000,0.584,1.222,1.587,both
211,"Robinson, Hailey",poster,Master's student,Agriculture,Tarleton State University,16.000,-0.170,1.009,-2.173,-0.673,0.215,0.533,1.000,both
201,"Preston, Rebecca",poster,Master's student,Agriculture,Texas A&M University - Kingsville,8.000,-0.207,0.752,-0.968,-0.866,-0.415,0.320,0.866,both
1,"Adekanmbi, Abayomi",poster,Master's student,Agriculture,Prairie View A&M University,16.000,-0.365,0.592,-1.272,-0.831,-0.136,-0.061,0.594,both
11,"Badmus, Olatunde",poster,Master's student,Agriculture,Prairie View A&M University,nan,nan,nan,nan,nan,nan,nan,nan,left_only
12,"Baker, Jonathan",poster,Master's student,Agriculture,Tarleton State University,nan,nan,nan,nan,nan,nan,nan,nan,left_only
106,"Herrygers, Kallie",poster,Master's student,Agriculture,Tarleton State University,nan,nan,nan,nan,nan,nan,nan,nan,left_only
144,"Machart, Michael",poster,Master's student,Agriculture,Tarleton State University,nan,nan,nan,nan,nan,nan,nan,nan,left_only
230,"Sharma, Riya",poster,Master's student,Agriculture,Prairie View A&M University,nan,nan,nan,nan,nan,nan,nan,nan,left_only

Agriculture Undergraduate student

,NAME,PRESENTATION TYPE,STUDENT LEVEL,CATEGORY,INSTITUTION,count,mean,std,min,25%,50%,75%,max,_merge
49,"Cherif, Yassine",poster,Undergraduate student,Agriculture,Prairie View A&M University,16.000,0.976,0.752,-0.831,0.679,1.218,1.395,1.811,both
74,"Faisal, Noor",poster,Undergraduate student,Agriculture,Texas A&M University - Commerce,16.000,0.754,0.869,-0.593,0.136,0.761,1.373,2.264,both
237,"Stotz, Miranda",poster,Undergraduate student,Agriculture,Tarleton State University,16.000,0.562,0.585,-0.630,0.532,0.668,0.779,1.500,both
194,"Payne, Kristen",poster,Undergraduate student,Agriculture,Tarleton State University,16.000,0.029,1.084,-2.154,-0.639,-0.028,0.630,1.500,both
131,"Latin, Tiffany",poster,Undergraduate student,Agriculture,Prairie View A&M University,16.000,-0.208,0.811,-1.302,-0.591,-0.342,0.052,1.982,both
183,"Nkot, Ferdinand",poster,Undergraduate student,Agriculture,Prairie View A&M University,16.000,-0.289,0.755,-1.272,-1.127,-0.132,0.084,0.849,both
260,"Walker, Hannah",poster,Undergraduate student,Agriculture,Tarleton State University,12.000,-0.531,0.960,-2.173,-1.096,-0.668,0.156,0.988,both
259,"Vincze, Haley",poster,Undergraduate student,Agriculture,Tarleton State University,16.000,-1.223,0.845,-2.586,-1.598,-1.149,-0.630,0.625,both
37,"Brown, Nicole",poster,Undergraduate student,Agriculture,West Texas A&M University,nan,nan,nan,nan,nan,nan,nan,nan,left_only
94,"Green, Tony",poster,Undergraduate student,Agriculture,Prairie View A&M University,nan,nan,nan,nan,nan,nan,nan,nan,left_only
116,"Jackson, Asja",poster,Undergraduate student,Agriculture,Prairie View A&M University,nan,nan,nan,nan,nan,nan,nan,nan,left_only
117,"Johnson, Andre",poster,Undergraduate student,Agriculture,Prairie View A&M University,nan,nan,nan,nan,nan,nan,nan,nan,left_only
139,"Long, Chonique",poster,Undergraduate student,Agriculture,Prairie View A&M University,nan,nan,nan,nan,nan,nan,nan,nan,left_only
199,"Polk, JaVon",poster,Undergraduate student,Agriculture,Prairie View A&M University,nan,nan,nan,nan,nan,nan,nan,nan,left_only
249,"Timms, Edward",poster,Undergraduate student,Agriculture,Prairie View A&M University,nan,nan,nan,nan,nan,nan,nan,nan,left_only
265,"Wommack, Mikayla",poster,Undergraduate student,Agriculture,Tarleton State University,nan,nan,nan,nan,nan,nan,nan,nan,left_only

Agriculture nan

Empty DataFrame
Columns: [NAME, PRESENTATION TYPE, STUDENT LEVEL, CATEGORY, INSTITUTION, count, mean, std, min, 25%, 50%, 75%, max, _merge]
Index: []

[0 rows x 14 columns]

Humanities or Social Science Master's student

,NAME,PRESENTATION TYPE,STUDENT LEVEL,CATEGORY,INSTITUTION,count,mean,std,min,25%,50%,75%,max,_merge
243,"Terrazas, Aileen",oral,Master's student,Humanities or Social Science,Texas A&M International University,15.000,0.701,0.335,0.181,0.397,0.755,0.948,1.086,both
147,"Mata, Ashley",oral,Master's student,Humanities or Social Science,Tarleton State University,15.000,0.446,0.709,-1.425,0.058,0.719,0.882,1.565,both
207,"Reyes, Alexandra",oral,Master's student,Humanities or Social Science,Texas A&M International University,20.000,0.411,1.016,-1.080,-0.560,0.610,1.496,1.512,both
228,"Shaffer, Sharla",oral,Master's student,Humanities or Social Science,Tarleton State University,15.000,0.345,0.650,-1.065,0.487,0.487,0.665,1.301,both
224,"Santos, Alejandra",oral,Master's student,Humanities or Social Science,Texas A&M International University,10.000,0.299,0.731,-1.039,-0.247,0.293,1.008,1.008,both
247,"Thompson, Gabby",oral,Master's student,Humanities or Social Science,Texas A&M University - Texarkana,20.000,0.200,0.790,-1.593,-0.217,0.293,0.883,1.658,both
264,"Williams, Dakotah",oral,Master's student,Humanities or Social Science,Tarleton State University,15.000,-0.090,0.909,-1.425,-0.798,0.042,0.719,1.565,both
104,"Hernandez, Arely",oral,Master's student,Humanities or Social Science,Texas A&M International University,15.000,-0.269,0.997,-1.796,-0.981,0.181,0.500,1.086,both
96,"Guerrero, Brenda L",oral,Master's student,Humanities or Social Science,Texas A&M International University,15.000,-0.338,0.585,-1.593,-0.687,-0.432,0.228,0.358,both
33,"Brooks, Thomas",oral,Master's student,Humanities or Social Science,Texas A&M University - Commerce,nan,nan,nan,nan,nan,nan,nan,nan,left_only
44,"Castro, Jessa Rubie",oral,Master's student,Humanities or Social Science,Texas A&M University - Corpus Christi,nan,nan,nan,nan,nan,nan,nan,nan,left_only
55,"Cortina, Naomi",oral,Master's student,Humanities or Social Science,Texas A&M International University,nan,nan,nan,nan,nan,nan,nan,nan,left_only
82,"Garcia, Elva Adriana",oral,Master's student,Humanities or Social Science,Texas A&M International University,nan,nan,nan,nan,nan,nan,nan,nan,left_only
157,"Mendiola, Mariana",oral,Master's student,Humanities or Social Science,Texas A&M International University,nan,nan,nan,nan,nan,nan,nan,nan,left_only
158,"Meyers, Jenlyn",oral,Master's student,Humanities or Social Science,Texas A&M University - Kingsville,nan,nan,nan,nan,nan,nan,nan,nan,left_only
162,"Modile, Olatundun",oral,Master's student,Humanities or Social Science,Texas A&M University - Commerce,nan,nan,nan,nan,nan,nan,nan,nan,left_only
174,"Murray, Amanda",oral,Master's student,Humanities or Social Science,Texas A&M University - Corpus Christi,nan,nan,nan,nan,nan,nan,nan,nan,left_only
223,"Santa Cruz, Eloy",oral,Master's student,Humanities or Social Science,Texas A&M International University,nan,nan,nan,nan,nan,nan,nan,nan,left_only
238,"Sun, Xueqiu",oral,Master's student,Humanities or Social Science,Texas A&M University - Kingsville,nan,nan,nan,nan,nan,nan,nan,nan,left_only
250,"Tinsley, Diana",oral,Master's student,Humanities or Social Science,Texas A&M University - Corpus Christi,nan,nan,nan,nan,nan,nan,nan,nan,left_only
267,"Zirbes, Emily",oral,Master's student,Humanities or Social Science,Texas A&M International University,nan,nan,nan,nan,nan,nan,nan,nan,left_only

Humanities or Social Science Undergraduate student

,NAME,PRESENTATION TYPE,STUDENT LEVEL,CATEGORY,INSTITUTION,count,mean,std,min,25%,50%,75%,max,_merge
179,"Newell, Violet",oral,Undergraduate student,Humanities or Social Science,Tarleton State University,15.000,0.655,0.801,-1.949,0.487,0.665,1.301,1.301,both
109,"Holleck, Maike",oral,Undergraduate student,Humanities or Social Science,Texas A&M University - Kingsville,20.000,0.516,0.608,-0.777,0.080,0.718,0.935,1.465,both
103,"Heinig, Peyton",oral,Undergraduate student,Humanities or Social Science,Tarleton State University,15.000,0.321,0.970,-2.174,-0.042,0.719,0.853,1.574,both
38,"Brown, Tracy",oral,Undergraduate student,Humanities or Social Science,Tarleton State University,10.000,0.236,0.830,-1.629,0.181,0.500,0.755,1.086,both
39,"Caballero, Jorge",oral,Undergraduate student,Humanities or Social Science,Texas A&M University - Kingsville,15.000,0.168,0.970,-1.525,-0.618,0.080,0.798,1.677,both
87,"Gillespie, Lynzee",oral,Undergraduate student,Humanities or Social Science,Tarleton State University,15.000,0.107,0.488,-1.065,-0.276,0.000,0.487,0.665,both
257,"Vasquez, Martha",oral,Undergraduate student,Humanities or Social Science,Texas A&M International University,15.000,0.057,0.872,-1.796,-0.265,0.245,0.576,1.086,both
176,"Navarrete, Jose",oral,Undergraduate student,Humanities or Social Science,West Texas A&M University,20.000,0.034,0.934,-1.517,-0.719,0.583,0.718,1.103,both
67,"Dush, Ashley",oral,Undergraduate student,Humanities or Social Science,Tarleton State University,15.000,-0.663,0.920,-1.949,-1.459,-0.665,-0.138,0.665,both
146,"Martin, Jacob",oral,Undergraduate student,Humanities or Social Science,Tarleton State University,15.000,-0.678,0.988,-2.477,-1.305,-0.798,0.075,0.882,both
152,"Mcdonald, Kamal",oral,Undergraduate student,Humanities or Social Science,Prairie View A&M University,15.000,-0.902,0.935,-3.020,-1.508,-0.777,-0.458,0.878,both
202,"Punch, Trahara",oral,Undergraduate student,Humanities or Social Science,Prairie View A&M University,20.000,-0.993,1.124,-3.574,-0.903,-0.555,-0.291,0.245,both
5,"Amaro, Mirelvia",oral,Undergraduate student,Humanities or Social Science,Texas A&M University - Kingsville,nan,nan,nan,nan,nan,nan,nan,nan,left_only
15,"Bansemer, Kyla",oral,Undergraduate student,Humanities or Social Science,Texas A&M University - San Antonio,nan,nan,nan,nan,nan,nan,nan,nan,left_only
27,"Beverly, Diamond",oral,Undergraduate student,Humanities or Social Science,Tarleton State University,nan,nan,nan,nan,nan,nan,nan,nan,left_only
28,"Beverly, Sapphire",oral,Undergraduate student,Humanities or Social Science,Tarleton State University,nan,nan,nan,nan,nan,nan,nan,nan,left_only
32,"Branch, Kathryn",oral,Undergraduate student,Humanities or Social Science,Texas A&M University - Commerce,nan,nan,nan,nan,nan,nan,nan,nan,left_only
40,"Campos, Evelyn",oral,Undergraduate student,Humanities or Social Science,Texas A&M International University,nan,nan,nan,nan,nan,nan,nan,nan,left_only
43,"Castellanos, Roxana",oral,Undergraduate student,Humanities or Social Science,Texas A&M University - Kingsville,nan,nan,nan,nan,nan,nan,nan,nan,left_only
46,"Cavazos, Johanna",oral,Undergraduate student,Humanities or Social Science,Texas A&M International University,nan,nan,nan,nan,nan,nan,nan,nan,left_only
68,"Dysinger, Hannah",oral,Undergraduate student,Humanities or Social Science,Texas A&M University - Central Texas,nan,nan,nan,nan,nan,nan,nan,nan,left_only
73,"Esqueda, Richard",oral,Undergraduate student,Humanities or Social Science,Texas A&M International University,nan,nan,nan,nan,nan,nan,nan,nan,left_only
90,"Gonzalez, Mariana",oral,Undergraduate student,Humanities or Social Science,Texas A&M International University,nan,nan,nan,nan,nan,nan,nan,nan,left_only
114,"Idrogo, Jasmine",oral,Undergraduate student,Humanities or Social Science,Texas A&M International University,nan,nan,nan,nan,nan,nan,nan,nan,left_only
129,"Lara, Clarissa",poster,Undergraduate student,Humanities or Social Science,Texas A&M University - Corpus Christi,nan,nan,nan,nan,nan,nan,nan,nan,left_only
148,"Mays, Cindy",oral,Undergraduate student,Humanities or Social Science,Texas A&M University - Commerce,nan,nan,nan,nan,nan,nan,nan,nan,left_only
150,"McCarter, Tanner",oral,Undergraduate student,Humanities or Social Science,Texas A&M University - Commerce,nan,nan,nan,nan,nan,nan,nan,nan,left_only
164,"Moore, Leira",oral,Undergraduate student,Humanities or Social Science,Texas A&M University - Texarkana,nan,nan,nan,nan,nan,nan,nan,nan,left_only
165,"Mora, Cristian",oral,Undergraduate student,Humanities or Social Science,West Texas A&M University,nan,nan,nan,nan,nan,nan,nan,nan,left_only
212,"Rodriguez, Daniela",oral,Undergraduate student,Humanities or Social Science,Texas A&M International University,nan,nan,nan,nan,nan,nan,nan,nan,left_only
214,"Rodriguez, Yared",oral,Undergraduate student,Humanities or Social Science,Texas A&M International University,nan,nan,nan,nan,nan,nan,nan,nan,left_only
248,"Thompson, Hollis",oral,Undergraduate student,Humanities or Social Science,Texas A&M University - Texarkana,nan,nan,nan,nan,nan,nan,nan,nan,left_only

Humanities or Social Science nan

Empty DataFrame
Columns: [NAME, PRESENTATION TYPE, STUDENT LEVEL, CATEGORY, INSTITUTION, count, mean, std, min, 25%, 50%, 75%, max, _merge]
Index: []

[0 rows x 14 columns]

Life Science Master's student

,NAME,PRESENTATION TYPE,STUDENT LEVEL,CATEGORY,INSTITUTION,count,mean,std,min,25%,50%,75%,max,_merge
122,"Joshi, Akita",poster,Master's student,Life Science,Tarleton State University,16.000,1.032,0.513,0.050,0.879,1.108,1.347,1.884,both
56,"Crawford, Callie",poster,Master's student,Life Science,Texas A&M University - Corpus Christi,16.000,0.549,0.885,-1.500,0.424,0.553,1.072,1.745,both
244,"Thomas, Erica",poster,Master's student,Life Science,West Texas A&M University,8.000,0.211,0.925,-0.814,-0.420,-0.023,0.973,1.702,both
159,"Migl, Chesney",poster,Master's student,Life Science,Texas A&M University - Kingsville,16.000,0.087,0.956,-1.811,-0.792,0.475,0.780,1.286,both
6,"Amin Allen, Schirin",poster,Master's student,Life Science,Texas A&M University - Commerce,4.000,-0.814,0.742,-1.339,-1.339,-1.076,-0.551,0.236,both
50,"Chowdhury, Nobel",poster,Master's student,Life Science,Texas A&M University - Commerce,nan,nan,nan,nan,nan,nan,nan,nan,left_only
86,"Garza, Sarah",poster,Master's student,Life Science,Texas A&M University - Kingsville,nan,nan,nan,nan,nan,nan,nan,nan,left_only
102,"Hays, Vanessa",poster,Master's student,Life Science,Tarleton State University,nan,nan,nan,nan,nan,nan,nan,nan,left_only
170,"Moumbogno T., Falonne",poster,Master's student,Life Science,Prairie View A&M University,nan,nan,nan,nan,nan,nan,nan,nan,left_only
204,"Quizon, Amelia",poster,Master's student,Life Science,Texas A&M University - Corpus Christi,nan,nan,nan,nan,nan,nan,nan,nan,left_only
239,"Suresh, Sandhya Varma",poster,Master's student,Life Science,West Texas A&M University,nan,nan,nan,nan,nan,nan,nan,nan,left_only
254,"Trimble, Will",poster,Master's student,Life Science,Tarleton State University,nan,nan,nan,nan,nan,nan,nan,nan,left_only

Life Science Undergraduate student

,NAME,PRESENTATION TYPE,STUDENT LEVEL,CATEGORY,INSTITUTION,count,mean,std,min,25%,50%,75%,max,_merge
236,"Stewart, Brittany",poster,Undergraduate student,Life Science,Tarleton State University,8.000,1.065,0.647,0.198,0.790,1.083,1.358,1.897,both
9,"Ashraf, A H M",poster,Undergraduate student,Life Science,Texas A&M University - Central Texas,16.000,0.660,0.413,0.047,0.395,0.719,1.000,1.137,both
222,"Sanchez, Oscar",poster,Undergraduate student,Life Science,Texas A&M University - Kingsville,16.000,0.648,0.535,-0.523,0.475,0.736,1.047,1.245,both
119,"Jolley, Lara",poster,Undergraduate student,Life Science,Texas A&M University - Texarkana,16.000,0.452,1.320,-2.147,-0.264,0.613,1.299,2.362,both
196,"Phelps, Shelby",poster,Undergraduate student,Life Science,West Texas A&M University,16.000,0.112,0.640,-1.170,-0.295,0.278,0.320,1.634,both
45,"Castro, Joshua",poster,Undergraduate student,Life Science,West Texas A&M University,16.000,-0.005,0.787,-2.086,-0.519,0.200,0.436,1.108,both
53,"Cordero, Adriana",poster,Undergraduate student,Life Science,Texas A&M University - Kingsville,12.000,-0.067,0.748,-1.692,-0.343,-0.256,0.285,1.047,both
134,"Lazo, Krista",poster,Undergraduate student,Life Science,Texas A&M University - San Antonio,12.000,-0.091,0.765,-2.147,-0.283,-0.049,0.179,0.825,both
24,"Benslimane, Nacera",poster,Undergraduate student,Life Science,Texas A&M University - San Antonio,12.000,-0.236,0.992,-2.147,-0.593,-0.523,0.603,1.047,both
232,"Solis, Joshua",poster,Undergraduate student,Life Science,Texas A&M University - San Antonio,12.000,-0.435,0.886,-2.093,-0.559,-0.283,0.080,1.047,both
256,"Vasquez, Liliana",poster,Undergraduate student,Life Science,West Texas A&M University,16.000,-0.470,0.858,-1.602,-1.232,-0.814,0.320,1.306,both
75,"Flores, Erick",poster,Undergraduate student,Life Science,Texas A&M International University,4.000,-1.931,0.000,-1.931,-1.931,-1.931,-1.931,-1.931,both
29,"Bocanegra, Diego",poster,Undergraduate student,Life Science,Tarleton State University,nan,nan,nan,nan,nan,nan,nan,nan,left_only
62,"Dawson, Dylan",poster,Undergraduate student,Life Science,Tarleton State University,nan,nan,nan,nan,nan,nan,nan,nan,left_only
63,"DeBose-Boyd, Ryan",poster,Undergraduate student,Life Science,Texas A&M University - Commerce,nan,nan,nan,nan,nan,nan,nan,nan,left_only
89,"Gonzales, Jannelle",poster,Undergraduate student,Life Science,Texas A&M University - San Antonio,nan,nan,nan,nan,nan,nan,nan,nan,left_only
101,"Hamilton, Ashley",poster,Undergraduate student,Life Science,Texas A&M University - Corpus Christi,nan,nan,nan,nan,nan,nan,nan,nan,left_only
141,"Lopez, Matthew",poster,Undergraduate student,Life Science,Texas A&M University - San Antonio,nan,nan,nan,nan,nan,nan,nan,nan,left_only
167,"Morris, Madeleine",poster,Undergraduate student,Life Science,Texas A&M University - Commerce,nan,nan,nan,nan,nan,nan,nan,nan,left_only
177,"Nawrocki, Tara",poster,Undergraduate student,Life Science,Texas A&M University - Central Texas,nan,nan,nan,nan,nan,nan,nan,nan,left_only
192,"Palumbo, Aleksey",poster,Undergraduate student,Life Science,Tarleton State University,nan,nan,nan,nan,nan,nan,nan,nan,left_only
193,"Parra, Victoria",poster,Undergraduate student,Life Science,Texas A&M University - Kingsville,nan,nan,nan,nan,nan,nan,nan,nan,left_only
203,"Quinones, Fritzi",poster,Undergraduate student,Life Science,Texas A&M University - Commerce,nan,nan,nan,nan,nan,nan,nan,nan,left_only
233,"Sommers, Kyle",poster,Undergraduate student,Life Science,Tarleton State University,nan,nan,nan,nan,nan,nan,nan,nan,left_only
253,"Trigueros, Chelsey",poster,Undergraduate student,Life Science,Texas A&M University - Corpus Christi,nan,nan,nan,nan,nan,nan,nan,nan,left_only
261,"Warford, Khira",poster,Undergraduate student,Life Science,Texas A&M University - San Antonio,nan,nan,nan,nan,nan,nan,nan,nan,left_only
262,"Whisenhunt, Samantha",poster,Undergraduate student,Life Science,Texas A&M University - San Antonio,nan,nan,nan,nan,nan,nan,nan,nan,left_only
268,"Zubair, Fahim",poster,Undergraduate student,Life Science,Tarleton State University,nan,nan,nan,nan,nan,nan,nan,nan,left_only

Life Science nan

Empty DataFrame
Columns: [NAME, PRESENTATION TYPE, STUDENT LEVEL, CATEGORY, INSTITUTION, count, mean, std, min, 25%, 50%, 75%, max, _merge]
Index: []

[0 rows x 14 columns]

Education Master's student

,NAME,PRESENTATION TYPE,STUDENT LEVEL,CATEGORY,INSTITUTION,count,mean,std,min,25%,50%,75%,max,_merge
66,"Dhurandhar, Gaurav",poster,Master's student,Education,Texas A&M University - Commerce,20.000,0.533,0.798,-1.012,0.299,0.526,0.977,2.211,both
47,"Cestou, Lorena",poster,Master's student,Education,Texas A&M International University,12.000,0.352,0.915,-1.625,0.063,0.364,1.161,1.528,both
130,"Lara, Jacqueline",poster,Master's student,Education,Texas A&M International University,20.000,-0.190,0.729,-1.625,-0.800,-0.232,0.418,1.161,both
140,"Lopez, Danny",poster,Master's student,Education,Tarleton State University,16.000,-0.414,0.749,-1.745,-1.047,-0.443,0.131,0.582,both
34,"Brown, Aaliyah",poster,Master's student,Education,Tarleton State University,16.000,-0.940,0.956,-2.443,-1.506,-1.074,-0.179,0.349,both
16,"Baric, Veronika",poster,Master's student,Education,Texas A&M University - Commerce,nan,nan,nan,nan,nan,nan,nan,nan,left_only
77,"Freeman, Lucyll",poster,Master's student,Education,Prairie View A&M University,nan,nan,nan,nan,nan,nan,nan,nan,left_only
92,"Goti, Vidhi",poster,Master's student,Education,Texas A&M University - Commerce,nan,nan,nan,nan,nan,nan,nan,nan,left_only
97,"Gutierrez, Melissa",poster,Master's student,Education,Texas A&M International University,nan,nan,nan,nan,nan,nan,nan,nan,left_only
105,"Hernandez, Mayra",poster,Master's student,Education,Texas A&M International University,nan,nan,nan,nan,nan,nan,nan,nan,left_only
132,"Laurent, Aubrey",poster,Master's student,Education,Tarleton State University,nan,nan,nan,nan,nan,nan,nan,nan,left_only
142,"Lopez, Ruby",poster,Master's student,Education,Texas A&M International University,nan,nan,nan,nan,nan,nan,nan,nan,left_only
172,"Murillo, Clarissa",poster,Master's student,Education,Texas A&M International University,nan,nan,nan,nan,nan,nan,nan,nan,left_only
197,"Pippins, Esther",poster,Master's student,Education,Texas A&M University - Texarkana,nan,nan,nan,nan,nan,nan,nan,nan,left_only

Education Undergraduate student

,NAME,PRESENTATION TYPE,STUDENT LEVEL,CATEGORY,INSTITUTION,count,mean,std,min,25%,50%,75%,max,_merge
42,"Casilio, Danielle",poster,Undergraduate student,Education,Tarleton State University,16.000,0.457,0.766,-1.880,0.296,0.582,0.643,1.798,both
54,"Cortez, Raney",poster,Undergraduate student,Education,Texas A&M University - Commerce,20.000,0.263,0.875,-2.086,0.017,0.526,0.787,1.628,both
85,"Garcia, Roxanne",poster,Undergraduate student,Education,Texas A&M International University,16.000,0.031,0.867,-1.315,-0.553,0.067,0.353,1.528,both
231,"Silva, Stephanie",poster,Undergraduate student,Education,Texas A&M International University,8.000,-0.102,1.514,-1.816,-1.440,-0.225,1.528,1.528,both
235,"Steed, Sydney",poster,Undergraduate student,Education,Texas A&M University - Texarkana,24.000,-0.703,1.025,-2.660,-1.092,-0.800,0.140,1.190,both
31,"Bowman, Kristen",poster,Undergraduate student,Education,Tarleton State University,nan,nan,nan,nan,nan,nan,nan,nan,left_only
137,"Lerma, Martha",poster,Undergraduate student,Education,Texas A&M International University,nan,nan,nan,nan,nan,nan,nan,nan,left_only
221,"Sanchez, Anna",poster,Undergraduate student,Education,Texas A&M International University,nan,nan,nan,nan,nan,nan,nan,nan,left_only
266,"Wright, Avery",poster,Undergraduate student,Education,Texas A&M University - Kingsville,nan,nan,nan,nan,nan,nan,nan,nan,left_only

Education nan

Empty DataFrame
Columns: [NAME, PRESENTATION TYPE, STUDENT LEVEL, CATEGORY, INSTITUTION, count, mean, std, min, 25%, 50%, 75%, max, _merge]
Index: []

[0 rows x 14 columns]

Business & Computer Information Systems Master's student

,NAME,PRESENTATION TYPE,STUDENT LEVEL,CATEGORY,INSTITUTION,count,mean,std,min,25%,50%,75%,max,_merge
187,"Odebiyi, Moyosore",poster,Master's student,Business & Computer Information Systems,Texas A&M University - Commerce,8.000,0.677,0.793,-0.132,0.154,0.498,1.021,1.842,both
95,"Grigoryan, Sona",poster,Master's student,Business & Computer Information Systems,Texas A&M University - Commerce,12.000,0.584,0.734,-0.061,-0.061,0.384,0.830,1.890,both
217,"Saibaba, Vani",poster,Master's student,Business & Computer Information Systems,Texas A&M University - Commerce,16.000,0.483,0.848,-1.007,-0.032,0.807,1.097,1.599,both
127,"Kundu, Swagata",poster,Master's student,Business & Computer Information Systems,Texas A&M University - Commerce,12.000,0.427,0.751,-1.299,0.046,0.620,0.840,1.509,both
59,"Das, Arpita",poster,Master's student,Business & Computer Information Systems,Texas A&M International University,12.000,-0.112,0.967,-1.344,-1.344,0.053,0.620,1.116,both
218,"Sakaria, Karishma Arvindkumar",poster,Master's student,Business & Computer Information Systems,Texas A&M University - Commerce,12.000,-0.333,0.919,-1.880,-1.083,-0.364,0.627,0.748,both
18,"Baugh, Ashleigh",poster,Master's student,Business & Computer Information Systems,Tarleton State University,nan,nan,nan,nan,nan,nan,nan,nan,left_only
69,"Ebhote, Oseze Andres",poster,Master's student,Business & Computer Information Systems,Texas A&M International University,nan,nan,nan,nan,nan,nan,nan,nan,left_only
113,"Idoko-Akoh, Ajogu",poster,Master's student,Business & Computer Information Systems,Texas A&M University - Commerce,nan,nan,nan,nan,nan,nan,nan,nan,left_only
168,"Moss, Alonzo",poster,Master's student,Business & Computer Information Systems,Tarleton State University,nan,nan,nan,nan,nan,nan,nan,nan,left_only
198,"Poghosyan, Armine",poster,Master's student,Business & Computer Information Systems,Texas A&M University - Commerce,nan,nan,nan,nan,nan,nan,nan,nan,left_only

Business & Computer Information Systems Undergraduate student

,NAME,PRESENTATION TYPE,STUDENT LEVEL,CATEGORY,INSTITUTION,count,mean,std,min,25%,50%,75%,max,_merge
184,"Nonmacher, Jonathan",poster,Undergraduate student,Business & Computer Information Systems,Texas A&M University - Texarkana,16.000,-1.118,0.657,-1.891,-1.659,-1.331,-0.597,0.299,both
88,"Gilmore, Ashley",poster,Undergraduate student,Business & Computer Information Systems,Texas A&M University - Texarkana,nan,nan,nan,nan,nan,nan,nan,nan,left_only
195,"Perez, Maricsa",poster,Undergraduate student,Business & Computer Information Systems,Tarleton State University,nan,nan,nan,nan,nan,nan,nan,nan,left_only

Business & Computer Information Systems nan

Empty DataFrame
Columns: [NAME, PRESENTATION TYPE, STUDENT LEVEL, CATEGORY, INSTITUTION, count, mean, std, min, 25%, 50%, 75%, max, _merge]
Index: []

[0 rows x 14 columns]

Environmental Science Master's student

,NAME,PRESENTATION TYPE,STUDENT LEVEL,CATEGORY,INSTITUTION,count,mean,std,min,25%,50%,75%,max,_merge
154,"McInnerney, Conor",poster,Master's student,Environmental Science,Tarleton State University,12.000,0.018,0.564,-1.000,-0.317,-0.128,0.630,0.630,both
65,"Delisle, Zackary",poster,Master's student,Environmental Science,Texas A&M University - Commerce,16.000,-0.535,0.878,-1.719,-0.989,-0.740,-0.230,1.683,both
180,"Nguyen, Tu",poster,Master's student,Environmental Science,Tarleton State University,16.000,-1.173,1.168,-3.204,-1.980,-1.114,-0.218,0.461,both
23,"Belleny, Danielle",poster,Master's student,Environmental Science,Tarleton State University,nan,nan,nan,nan,nan,nan,nan,nan,left_only
100,"Hall, Jared",poster,Master's student,Environmental Science,Tarleton State University,nan,nan,nan,nan,nan,nan,nan,nan,left_only
107,"herzberger, Leo",poster,Master's student,Environmental Science,Tarleton State University,nan,nan,nan,nan,nan,nan,nan,nan,left_only
149,"McAnally, a'Lisa",poster,Master's student,Environmental Science,Tarleton State University,nan,nan,nan,nan,nan,nan,nan,nan,left_only
245,"Thomas, Ermon",poster,Master's student,Environmental Science,Tarleton State University,nan,nan,nan,nan,nan,nan,nan,nan,left_only
246,"Thomas, Garen",poster,Master's student,Environmental Science,Tarleton State University,nan,nan,nan,nan,nan,nan,nan,nan,left_only

Environmental Science Undergraduate student

,NAME,PRESENTATION TYPE,STUDENT LEVEL,CATEGORY,INSTITUTION,count,mean,std,min,25%,50%,75%,max,_merge
169,"Mote, Kelton",poster,Undergraduate student,Environmental Science,Tarleton State University,12.000,-0.136,1.176,-2.154,-1.326,0.298,0.544,1.587,both
210,"Roberson, Tanner",poster,Undergraduate student,Environmental Science,Tarleton State University,20.000,-0.145,0.620,-0.993,-0.392,-0.392,0.299,1.391,both
263,"Wilcox, Daniel",poster,Undergraduate student,Environmental Science,Tarleton State University,12.000,-0.519,0.916,-2.409,-0.716,-0.443,0.052,0.517,both
151,"McClinton, Trey",poster,Undergraduate student,Environmental Science,Tarleton State University,nan,nan,nan,nan,nan,nan,nan,nan,left_only
155,"Meadows, Micheal",poster,Undergraduate student,Environmental Science,Tarleton State University,nan,nan,nan,nan,nan,nan,nan,nan,left_only

Environmental Science nan

Empty DataFrame
Columns: [NAME, PRESENTATION TYPE, STUDENT LEVEL, CATEGORY, INSTITUTION, count, mean, std, min, 25%, 50%, 75%, max, _merge]
Index: []

[0 rows x 14 columns]

Mathematics Master's student

,NAME,PRESENTATION TYPE,STUDENT LEVEL,CATEGORY,INSTITUTION,count,mean,std,min,25%,50%,75%,max,_merge
48,"Chen, Mengzhe",poster,Master's student,Mathematics,Texas A&M University - Commerce,nan,nan,nan,nan,nan,nan,nan,nan,left_only
171,"Msabaeka, Tsitsi",poster,Master's student,Mathematics,Texas A&M University - Commerce,nan,nan,nan,nan,nan,nan,nan,nan,left_only
216,"Rowe, Archie",poster,Master's student,Mathematics,Tarleton State University,nan,nan,nan,nan,nan,nan,nan,nan,left_only

Mathematics Undergraduate student

,NAME,PRESENTATION TYPE,STUDENT LEVEL,CATEGORY,INSTITUTION,count,mean,std,min,25%,50%,75%,max,_merge
80,"Garcia, Aser",poster,Undergraduate student,Mathematics,Tarleton State University,16.000,0.421,0.580,-0.724,0.237,0.517,0.622,1.842,both
252,"Tovar, Maria",poster,Undergraduate student,Mathematics,Tarleton State University,16.000,0.160,0.922,-2.047,-0.213,0.249,0.871,1.842,both
41,"Casas, Ray",poster,Undergraduate student,Mathematics,Texas A&M International University,24.000,-0.495,1.046,-2.486,-1.091,-0.610,0.341,1.335,both
206,"Reid, Campbell",poster,Undergraduate student,Mathematics,Texas A&M University - Commerce,12.000,-0.774,1.135,-1.924,-1.823,-1.094,0.249,1.093,both
25,"Bernet, Frederick",poster,Undergraduate student,Mathematics,Texas A&M University - San Antonio,nan,nan,nan,nan,nan,nan,nan,nan,left_only
156,"Melcher, Lauren",poster,Undergraduate student,Mathematics,Texas A&M University - Commerce,nan,nan,nan,nan,nan,nan,nan,nan,left_only
160,"Miles, Ja'Bria",poster,Undergraduate student,Mathematics,Texas A&M University - Commerce,nan,nan,nan,nan,nan,nan,nan,nan,left_only
209,"Reyna, Jacklyn",poster,Undergraduate student,Mathematics,Texas A&M International University,nan,nan,nan,nan,nan,nan,nan,nan,left_only

Mathematics nan

Empty DataFrame
Columns: [NAME, PRESENTATION TYPE, STUDENT LEVEL, CATEGORY, INSTITUTION, count, mean, std, min, 25%, 50%, 75%, max, _merge]
Index: []

[0 rows x 14 columns]

Physical Science Master's student

,NAME,PRESENTATION TYPE,STUDENT LEVEL,CATEGORY,INSTITUTION,count,mean,std,min,25%,50%,75%,max,_merge
125,"Khan, Shiraz",poster,Master's student,Physical Science,Texas A&M University - Commerce,20.000,0.380,0.770,-1.392,0.221,0.467,0.792,1.395,both
240,"Szteiter, Shelby",poster,Master's student,Physical Science,Texas A&M University - Kingsville,16.000,-0.057,0.810,-1.302,-0.643,-0.256,0.991,1.000,both
64,"Delgado, Christina",poster,Master's student,Physical Science,Texas A&M University - Corpus Christi,8.000,-0.673,0.000,-0.673,-0.673,-0.673,-0.673,-0.673,both
123,"Juntunen, Kristopher",poster,Master's student,Physical Science,Tarleton State University,4.000,-1.820,0.000,-1.820,-1.820,-1.820,-1.820,-1.820,both

Physical Science Undergraduate student

,NAME,PRESENTATION TYPE,STUDENT LEVEL,CATEGORY,INSTITUTION,count,mean,std,min,25%,50%,75%,max,_merge
258,"Villarreal, Pete",poster,Undergraduate student,Physical Science,Texas A&M University - Kingsville,16.000,0.670,0.708,-0.835,0.221,0.898,1.030,1.773,both
173,"Murphy, Caleb",poster,Undergraduate student,Physical Science,Tarleton State University,20.000,0.385,0.685,-0.740,0.105,0.552,0.577,1.392,both
225,"Schroers, Melanie",poster,Undergraduate student,Physical Science,Texas A&M University - Commerce,12.000,0.230,0.812,-1.459,0.007,0.403,0.789,1.442,both
58,"Cromer, Alexandra",poster,Undergraduate student,Physical Science,Prairie View A&M University,16.000,0.078,0.443,-0.519,-0.355,0.050,0.352,0.961,both
83,"Garcia, Jennifer",poster,Undergraduate student,Physical Science,Tarleton State University,16.000,-0.119,0.688,-1.392,-0.570,0.255,0.320,0.842,both
120,"Jordan, Michael",poster,Undergraduate student,Physical Science,Texas A&M University - Kingsville,20.000,-0.121,0.954,-1.964,-0.467,0.027,0.616,1.395,both
188,"Okolie, Makobi",poster,Undergraduate student,Physical Science,Prairie View A&M University,16.000,-0.992,0.884,-2.884,-1.614,-0.749,-0.426,0.446,both
255,"Tuck, Sara",poster,Undergraduate student,Physical Science,Tarleton State University,4.000,-1.820,0.000,-1.820,-1.820,-1.820,-1.820,-1.820,both
57,"Crews, Sydney",poster,Undergraduate student,Physical Science,Tarleton State University,nan,nan,nan,nan,nan,nan,nan,nan,left_only
61,"Davis, Kyndal",poster,Undergraduate student,Physical Science,West Texas A&M University,nan,nan,nan,nan,nan,nan,nan,nan,left_only
124,"Kaiser, Sam",poster,Undergraduate student,Physical Science,Texas A&M University - Commerce,nan,nan,nan,nan,nan,nan,nan,nan,left_only
136,"Lee, SunJae",poster,Undergraduate student,Physical Science,Texas A&M University - Commerce,nan,nan,nan,nan,nan,nan,nan,nan,left_only
145,"Marble, Kassie",poster,Undergraduate student,Physical Science,Tarleton State University,nan,nan,nan,nan,nan,nan,nan,nan,left_only
161,"Mills, Kira",poster,Undergraduate student,Physical Science,Texas A&M University - Commerce,nan,nan,nan,nan,nan,nan,nan,nan,left_only
178,"Neuweiler, Emma",poster,Undergraduate student,Physical Science,Texas A&M University - Commerce,nan,nan,nan,nan,nan,nan,nan,nan,left_only
185,"Nsekpong, Tyler",poster,Undergraduate student,Physical Science,Tarleton State University,nan,nan,nan,nan,nan,nan,nan,nan,left_only
215,"Ross, Michael",poster,Undergraduate student,Physical Science,Texas A&M University - Commerce,nan,nan,nan,nan,nan,nan,nan,nan,left_only
226,"Scott, Ashley",poster,Undergraduate student,Physical Science,Tarleton State University,nan,nan,nan,nan,nan,nan,nan,nan,left_only
242,"Templeton, Jason",poster,Undergraduate student,Physical Science,Tarleton State University,nan,nan,nan,nan,nan,nan,nan,nan,left_only

Physical Science nan

Empty DataFrame
Columns: [NAME, PRESENTATION TYPE, STUDENT LEVEL, CATEGORY, INSTITUTION, count, mean, std, min, 25%, 50%, 75%, max, _merge]
Index: []

[0 rows x 14 columns]

nan Master's student

Empty DataFrame
Columns: [NAME, PRESENTATION TYPE, STUDENT LEVEL, CATEGORY, INSTITUTION, count, mean, std, min, 25%, 50%, 75%, max, _merge]
Index: []

[0 rows x 14 columns]

nan Undergraduate student

Empty DataFrame
Columns: [NAME, PRESENTATION TYPE, STUDENT LEVEL, CATEGORY, INSTITUTION, count, mean, std, min, 25%, 50%, 75%, max, _merge]
Index: []

[0 rows x 14 columns]

nan nan

Empty DataFrame
Columns: [NAME, PRESENTATION TYPE, STUDENT LEVEL, CATEGORY, INSTITUTION, count, mean, std, min, 25%, 50%, 75%, max, _merge]
Index: []

[0 rows x 14 columns]